body,
.dark-mode {
  background-color: #010118;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002147;
  padding: 0px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-left,
.logo-right {
  height: 75px;
  width: auto;
}

.nav-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  color: #ffffff;
}

.test-container {
  width: 96%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.test-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
}

.problem-display {
  width: 100%;
  text-align: left;
  margin-top: 15px;
}

.problem-statement {
  background: #222;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
}

.problem-statement h3 {
  margin-top: 0;
}

.io-container {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 15px;
}

.input-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.output-section
{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 9px;
}
textarea {
  width: 95%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  resize: vertical;
}

.output-box {
  background-color: #333;
  border: 1px solid #555;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.submit-btn {
  padding: 12px 25px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.submit-btn:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-label-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  background-color: #0b77e2;
  transition: color 0.3s ease;
}



.clear-btn {
  padding: 5px 5px;
  font-size: 15px;
  background-color: #0e24ef;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 5px;
  margin-left: auto;
}

.clear-btn:hover {
  background-color: #07144b;
}
